* {
    font-family: 'Croissant One', cursive;
    font-family: 'Lato', sans-serif;
}
header{
    text-align: center;
}
body{
    background-color: aliceblue;
}
header img{
    border-radius: 100%;
}
header h3{
    text-decoration: underline;
}
section h3{
    text-align: center;
}
footer h3{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
section, footer{
    background-color: rgba(240, 248, 255, 0.842);
}